@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap");
.loader {
  margin: 100px auto;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(0, 126, 0);
  --_m:
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s linear infinite;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.animation-container {
  visibility: hidden;
  z-index: 99;
  position: absolute;
  width: 100px;
  height: 100px;
}
.animation-container.active {
  visibility: visible;
}

.burst {
  position: absolute;
  top: 50%;
  left: 50%;
}

.burst .line {
  position: absolute;
  background: #fff;
  width: 1px;
  height: 10px;
}

.burst .line:nth-child(1) {
  background: #11ae48;
  animation: move01 2s linear;
}

@keyframes move01 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(0, -90px);
    opacity: 1;
  }
  100% {
    transform: translate(0, -140px);
    opacity: 0;
  }
}
.burst .line:nth-child(2) {
  background: #34a853;
  animation: move02 2s linear;
}

@keyframes move02 {
  0% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: rotate(45deg) translate(0, -90px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(0, -140px);
    opacity: 0;
  }
}
.burst .line:nth-child(3) {
  background: #67ed4d;
  animation: move03 2s linear;
}

@keyframes move03 {
  0% {
    transform: rotate(90deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: rotate(90deg) translate(0, -90px);
    opacity: 1;
  }
  100% {
    transform: rotate(90deg) translate(0, -140px);
    opacity: 0;
  }
}
.burst .line:nth-child(4) {
  background: #29ffa6;
  animation: move04 2s linear;
}

@keyframes move04 {
  0% {
    transform: rotate(135deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: rotate(135deg) translate(0, -90px);
    opacity: 1;
  }
  100% {
    transform: rotate(135deg) translate(0, -140px);
    opacity: 0;
  }
}
.burst .line:nth-child(5) {
  background: #119434;
  animation: move05 2s linear;
}

@keyframes move05 {
  0% {
    transform: rotate(180deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: rotate(180deg) translate(0, -90px);
    opacity: 1;
  }
  100% {
    transform: rotate(180deg) translate(0, -140px);
    opacity: 0;
  }
}
.burst .line:nth-child(6) {
  background: #00ff08;
  animation: move06 2s linear;
}

@keyframes move06 {
  0% {
    transform: rotate(225deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: rotate(225deg) translate(0, -90px);
    opacity: 1;
  }
  100% {
    transform: rotate(225deg) translate(0, -140px);
    opacity: 0;
  }
}
.burst .line:nth-child(7) {
  background: #026c18;
  animation: move07 2s linear;
}

@keyframes move07 {
  0% {
    transform: rotate(270deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: rotate(270deg) translate(0, -90px);
    opacity: 1;
  }
  100% {
    transform: rotate(270deg) translate(0, -140px);
    opacity: 0;
  }
}
.burst .line:nth-child(8) {
  background: #15ad0d;
  animation: move08 2s linear;
}

@keyframes move08 {
  0% {
    transform: rotate(315deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: rotate(315deg) translate(0, -90px);
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translate(0, -140px);
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, .main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 100%;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  background-color: rgb(249, 249, 249);
}

.main {
  min-width: 99%;
  min-height: 100vh;
  margin-inline: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px rgb(200, 199, 199);
  font-family: "Quicksand", sans-serif;
  font-size: 23px;
  border-radius: 5%;
}

nav {
  z-index: 100;
  position: fixed;
  background-color: rgb(0, 96, 2);
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 2px;
  border-bottom: 2px solid rgba(35, 31, 31, 0.153);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  font-size: 50px;
  width: 30%;
}
nav .toggle-menu {
  margin-top: auto;
  width: 80px;
  height: 40px;
  padding: 4px;
  cursor: pointer;
  position: relative;
}
nav .toggle-menu span {
  transition: 300ms ease-out;
  position: absolute;
  border-radius: 5px;
  width: 50%;
  padding: 2px;
  margin-left: 10px;
  background-color: aliceblue;
}
nav .toggle-menu span:nth-child(1) {
  left: 0;
  top: 0;
}
nav .toggle-menu span:nth-child(2) {
  top: 30%;
  left: 0;
}
nav .toggle-menu span:nth-child(3) {
  top: 60%;
  left: 0;
}
nav .toggle-menu:hover {
  transition: 300ms ease-in;
}
nav .toggle-menu:hover span:nth-child(1) {
  rotate: -90deg;
  transform: translateY(-20px);
  top: 30%;
}
nav .toggle-menu:hover span:nth-child(2) {
  rotate: y -83deg;
  background-color: rgba(86, 203, 92, 0.6);
}
nav .toggle-menu:hover span:nth-child(3) {
  rotate: -90deg;
  transform: translateY(20px);
  top: 30%;
}
nav a {
  display: block;
  text-decoration: none;
  color: white;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  min-width: 50%;
  margin-right: 30px;
}
nav ul li {
  transition: 300ms ease-in;
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
  padding: 5px 1em;
  border-radius: 4px;
}
nav ul li:hover {
  transition: 300ms ease-out;
  background-color: rgba(39, 142, 61, 0.221);
}
nav ul img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-inline: auto;
}
@media (max-width: 700px) {
  nav ul {
    display: none;
    z-index: 100;
    background-color: inherit;
    position: absolute;
    top: 103%;
    right: -8%;
    padding: 8px 6px;
  }
  nav ul.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
  }
  nav ul li {
    margin: 1px 0;
    width: 98%;
    text-align: start;
  }
  nav ul li::before {
    content: "";
    position: absolute;
    left: 5%;
    margin-top: -6px;
    width: 90%;
    border-radius: 9px;
    height: 1.5px;
    background-color: rgb(63, 104, 66);
  }
}

.homepage {
  width: 100%;
  margin-top: 70px;
  min-height: 100vh;
}

.user-title {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  color: rgb(0, 96, 2);
  margin: 100px auto;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  margin-top: -70px;
  margin-inline: auto;
  min-width: 60%;
  padding: 20px;
  border-radius: 5px;
  height: 300px;
}
.user-form .user-label {
  color: grey;
  font-weight: bold;
  font-size: 15px;
  align-self: flex-start;
  margin-bottom: -6px;
}
.user-form input {
  transition: 200ms ease-in;
  border: none;
  outline: 2px solid green;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}
.user-form input:hover {
  background-color: #afe1af;
}
.user-form input::-moz-placeholder {
  text-transform: capitalize;
}
.user-form input::placeholder {
  text-transform: capitalize;
}
.user-form .user-btn {
  color: white;
  margin-top: 10px;
  padding: 8px 2px;
  width: 50%;
  border: none;
  border-radius: 3px;
  background-color: green;
  cursor: pointer;
  transition: 300ms ease-in;
}
.user-form .user-btn:hover {
  background-color: rgb(26, 166, 26);
}

.register-prompt {
  font-size: 18px;
  margin-inline: auto;
}
.register-prompt a {
  margin-left: 5px;
  color: green;
  text-decoration: underline;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 300ms ease-in;
  width: 90%;
  margin: 100px auto;
}
@media (min-width: 700px) {
  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
.profile-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(0, 96, 2);
  width: 100%;
}
@media (min-width: 700px) {
  .profile-container section {
    border-bottom: none;
  }
}
.profile-container .profile-picture {
  position: relative;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.profile-container .profile-picture img {
  border-radius: 50%;
  margin-inline: auto;
  outline: 2px solid rgb(0, 96, 2);
}
.profile-container .profile-picture .edit-btn {
  transition: 300ms ease-out;
  cursor: pointer;
  position: absolute;
  width: 40px;
  top: 60%;
  left: 70%;
  margin-inline: auto;
}
.profile-container .profile-picture .edit-btn:hover {
  transition: 300ms ease-out;
  transform: scale(0.97);
}
.profile-container .profile-picture .edit-btn img {
  width: 100%;
  margin-inline: auto;
  border-radius: 0%;
  outline: none;
  background-color: rgb(255, 255, 255);
}
.profile-container .profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: bold;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-inline: auto;
}
.profile-container .profile-details img {
  width: 40px;
  cursor: pointer;
  transition: 300ms ease-out;
}
.profile-container .profile-details img:hover {
  transition: 300ms ease-out;
  transform: scale(0.97);
}
.profile-container .profile-details input {
  transition: 200ms ease-in;
  border: none;
  outline: 1px solid green;
  padding: 10px;
  width: 100%;
}
.profile-container .profile-details input::-moz-placeholder {
  font-weight: bold;
}
.profile-container .profile-details input::placeholder {
  font-weight: bold;
}
.profile-container .profile-details label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.profile-container .profile-details .edit-choice {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: -14px;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-inline: auto;
  width: 15em;
  border-radius: 6px 6px 0 0;
  box-shadow: 2px 2px 1px 1px rgba(79, 78, 78, 0.1);
  white-space: pre-wrap;
  overflow: hidden;
}
.card-container .head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  background-color: rgba(86, 203, 92, 0.6);
  width: 100%;
  padding: 6px;
  border-radius: 6px 6px 0 0;
}
.card-container .head .creator-pic {
  border-radius: 50%;
  width: 60px;
}
.card-container .head .creator-pic img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card-container .head div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.card-container .head div .creator-name {
  font-size: 20px;
}
.card-container .head div .date-created {
  font-size: 15px;
  font-weight: bold;
  opacity: 50%;
}
.card-container .body {
  width: 100%;
}
.card-container .body .post-picture {
  width: 95%;
  margin-inline: auto;
}
.card-container .body .post-picture img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}
.card-container .body .post-content {
  width: 96%;
  min-height: 10%;
  margin-inline: auto;
  margin-top: 10px;
  font-size: 18px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(86, 203, 92, 0.6);
}
.card-container .body .post-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 96%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.card-container .body .post-btn div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(4, 133, 62);
}
.card-container .body .post-btn img {
  width: 35px;
  cursor: pointer;
  transition: 300ms ease-out;
}
.card-container .body .post-btn img:hover {
  transform: scale(1.05);
  transition: 300ms ease-in;
}
.comment-container {
  width: 100%;
  padding: 2px 6px;
}
.comment-container .comment {
  width: 100%;
  margin-inline: auto;
}
.comment-container .comment .head {
  background-color: inherit;
  font-size: 17px;
  position: relative;
}
.comment-container .comment .head img {
  border-radius: 50%;
}
.comment-container .comment .head span::after {
  content: "";
  position: absolute;
  background-color: rgba(86, 203, 92, 0.6);
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 18%;
}
.comment-container .comment .body {
  font-size: 16px;
  padding-top: 20px;
  padding-left: 60px;
  background-color: inherit;
}
.comment-container .comment .body .comment-text {
  overflow: hidden;
  white-space: pre-wrap;
}
.comment-container .write-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 10px;
}
.comment-container .write-comment .user-pic {
  border-radius: 50%;
}
.comment-container .write-comment .user-pic img {
  border-radius: 50%;
}
.comment-container .write-comment input {
  border: none;
  outline: 1px solid rgb(46, 154, 46);
  padding: 6px;
  width: 100%;
  border-radius: 2px;
}
.comment-container .write-comment .send-comment {
  transition: 300ms ease-in;
  width: 46px;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}
.comment-container .write-comment .send-comment:hover {
  transition: 300ms ease-out;
  background-color: rgb(181, 230, 192);
}

.create-portal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 80px auto;
  padding: 2px 6px;
}
@media (min-width: 700px) {
  .create-portal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.create-portal header {
  opacity: 100%;
  color: rgb(5, 177, 129);
  font-size: 1.5rem;
  font-weight: bold;
}
.create-portal .postForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  margin: 20px auto;
}
@media (min-width: 700px) {
  .create-portal .postForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: -10px;
  }
}
.create-portal .postForm textarea {
  transition: 300ms ease-out;
  font-size: 20px;
  border: none;
  outline: 1px solid green;
  padding: 10px;
  width: 90%;
  height: 300px;
  border-radius: 3px;
  resize: none;
}
.create-portal .postForm textarea:hover {
  transition: 300ms ease-in;
  background-color: rgba(220, 220, 220, 0.5254901961);
}
.create-portal .postForm .text-limit {
  position: absolute;
  bottom: 26%;
  right: 8%;
  font-size: 0.8em;
}
@media (min-width: 700px) {
  .create-portal .postForm .text-limit {
    left: 1%;
    bottom: 4%;
  }
}
.create-portal .postForm .btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
}
.create-portal .postForm .btns button {
  transition: 300ms ease-in;
  color: white;
  margin-top: 10px;
  padding: 10px 2px;
  width: 50%;
  border: none;
  border-radius: 4px;
  background-color: green;
  cursor: pointer;
}
.create-portal .postForm .btns button:hover {
  transition: 300ms ease-in;
  transform: scale(0.99);
}

.error {
  background-color: darkred;
  width: 90%;
  min-height: 100vh;
  margin: 80px auto;
}/*# sourceMappingURL=style.css.map */